# - Python -
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.joblib
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# Jupyter / IPython
.ipynb_checkpoints/
.profile_default/
ipython_config.py

# large geodata
data/cleaned_data/*.geojson
data_all/cleaned_data/*.geojson

# common large dirs
data/raw/
data/processed/
data_all/
.cache/
**/.ipynb_checkpoints/
venv/
.venv/

# Allow small static geometry for the app
!data/static/
!data/static/berlin_ortsteil_boundaries.parquet
!data/static/berlin_ortsteil_boundaries_light.geojson

# - Streamlit -
.streamlit/secrets.toml  # keep local secrets safe
.streamlit/cache/
cache/

# - VSCode / IDE -
.vscode/
.idea/
*.swp
.DS_Store

# - Logs / outputs -
*.log
logs/
mlruns/          # MLflow runs